# Backend
hr-backend/node_modules/
hr-backend/.env

# Flutter frontend
hr_management/build/
hr_management/.dart_tool/
hr_management/.packages
hr_management/.flutter-plugins
hr_management/.flutter-plugins-dependencies
hr_management/pubspec.lock

# IDE & OS files
*.iml
*.log
*.lock
.idea/
.vscode/
.DS_Store